



.borderbox1{
    display: flex;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin:2rem;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 2rem;
    height: 20rem;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    justify-content: flex-start;
    background-color: white;
    width: 87vh
   
    

}
.borderbox{
    display: flex;
    align-self: center;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin:2rem;
    padding: 2rem;
    align-items: start;
    justify-content: center;
    height: 100vh;
    border-radius: 2rem;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    background-color: white;
    width: 87vh;

}

.box1{
    align-items: center;
}
.input-box {
    
    width: 75vh;
    height: 15vh;
  }
.active{
    background-image: url(icons/Thumbsupactive.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
   
}
 .inactive{
    background-image: url(icons/Thumbsupinactive.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;

    
 }
.active1{
    background-image: url(icons/Thumbsdownactive.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
}
 .inactive1{
    background-image: url(icons/Thumbsdowninactive.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
 }

 .commentbox{
   position:relative;
   right: 300%;
    

   
   
 }
 hr{
    
    position: relative;
    width: 800%;
    right: 350%;
    
 }
 .namesettings{
    font-weight: bolder;
    text-transform: capitalize;
 }
.body{
    background-color: rgb(17, 135, 135);
}
.header{
    background-color: white;
}
.buttonlocation{
    position: relative;
    left:150%

}
.buttonlocation1{
    position: relative;
    left:325%
}


.commentboxpostion2{
    position: relative;
    left: 6vh;
    bottom: 2vh;
    text-align: start;
    width: 30rem;
    vertical-align: text-top;
}
